<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lixue.app">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--读取IMei -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:name=".MyApplicattion"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".login.ui.WelcomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.ui.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".login.ui.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <meta-data
            android:name="com.lixue.app.library.http.okhttp.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />


        <provider
            android:name=".db.MyProvider"
            android:authorities="com.lixue.app.ContentProvider" />
    </application>

</manifest>